{% extends 'Doctor/DoctorBase.html' %}
{% block content %}
<style>
    h2 {
        font-size: 100px; /* Larger font size for visibility */
        text-align: center; /* Centers the heading */
        color: #003cff; /* Matching the table header color */
        margin-top: 0; /* Reduce spacing if necessary */
        padding-top: 20px; /* Additional padding at the top */
    }
</style>
<div class="main">
    <h2>Profile</h2>
    <div class="profile-info centered">
        <div>
            <span>First Name: <span id="first_name">{{ doctor.FirstName }}</span></span>
        </div>
        <div>
            <span>Last Name: <span id="last_name">{{ doctor.LastName }}</span></span>
        </div>
        <div>
            <span>Email: <span id="email">{{ doctor.Email }}</span></span>
        </div>
        <div>
            <span>Mobile Number: <span id="mobile">{{ doctor.ContactInformation }}</span></span>
        </div>
        <div>
            <span>Gender: <span id="gender">{{ doctor.Gender }}</span></span>
        </div>

        <br>
        <br>
        <a class="btn btn-primary" href="{{ url_for('doctor_routes.edit_doctor_profile_form') }}">Edit Profile</a> <br>
        <br>
        <a class="btn btn-primary" href="{{ url_for('doctor_routes.change_doctor_password') }}">Change Password</a></div>
</div>

{% endblock %}