<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="/static/admin/css/mainAdmin.css" rel="stylesheet">
    <link href="/static/doctor/css/navbarDoctor.css" rel="stylesheet">
    <link href="/static/admin/css/AddAdmin.css" rel="stylesheet">
    <link href="/static/doctor/css/ListTable.css" rel="stylesheet">
    <link href="/static/doctor/css/ProfilePage.css" rel="stylesheet">
    <link href="/static/common/Images/logo/logo2NoBackground.png" rel="icon">
    <script src="/static/admin/js/SecurityLogsTabs.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    button {
 background-color: #0077ff;}
    .fl-table th {
        background-color: #0066ff;
    }

</style>
<body>
<!-- Header -->
<div class="header-container">
    <!-- Logo -->
    <h1 class="logo">
        <img alt="Logo" src="/static/common/Images/logo/logo2NoBackground.png">
        Symptom Diagnoses Doctor
    </h1>
    <!-- Search bar -->
    <label class="search-bar">
        <input placeholder="Search.." type="text">
    </label>
</div>

<!-- Navigation -->
<nav class="navbar">
    <div class="navbar-content">
        <ul class="navbar-nav">
            <!-- Home link -->
            <li class="nav-item active">
                <a class="nav-link" href="/doctor_dashboard">Home</a>
            </li>

            <!-- User  -->
            <li class="nav-item">
                <a class="nav-link" href="/usersDoctor">Users</a>
            </li>
            <!-- Security Logs link -->
            <li class="nav-item">
                <a class="nav-link" href="/diagnosis">Diagnosis</a>
            </li>

        </ul>
        <!-- User Profile and Logout links -->
        {% if session.logged_in %}
        <div class="right-nav">
            <!-- Dropdown Menu Trigger -->
            <div class="nav-item dropdown">
                <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
                   href="#"
                   id="navbarDropdown" role="button">
                    {{ session.first_name }} {{ session.last_name }}

                </a>
                <!-- Dropdown Menu Items -->
                <div aria-labelledby="navbarDropdown" class="dropdown-menu">
                    <a class="dropdown-item" href="/doctor_profile">Profile</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </div>
        </div>
        {% else %}
        <div class="right-nav">
            <a class="nav-link" href="/login">Login/Register</a>
        </div>
        {% endif %}
    </div>
</nav>

<!-- Content block -->
{% block content %}{% endblock %}

</body>
</html>
