<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Symptom Checker | Find Possible Causes for Your Symptoms</title>
    <link href="../static/common/css/HomePage.css" rel="stylesheet">
</head>

<body>
{% extends 'base.html' %}
{% block title %}Home Page{% endblock %}
{% block content %}

<header>
    <h1>Identify Your Symptoms, Find Possible Causes</h1>
</header>

<main>
    <section class="hero">
        <img class="banner" alt="Home Page Banner" src="../static/common/Images/banner/homePageBanner.png">
        <h2>Feeling Unwell? Let's Figure It Out Together.</h2>
        <p>Start by entering your symptoms, and we'll guide you through possible causes and next steps.</p>
        <button>Start Checking Symptoms</button>
    </section>

    <!-- Important Note/Disclaimer Section -->
    <section class="disclaimer">
        <h2>Disclaimer</h2>
        <p>This application offers preliminary health assessments based on the information you provide. However, it should not replace professional medical advice, diagnosis, or treatment.</p>
        <p>Always consult with a qualified healthcare provider for any health concerns and before making any decisions about your health or treatment.</p>
        <p>This tool is for informational purposes only and should not be the sole basis for health-related decisions.</p>
        <p>The developers and creators of this application do not assume any liability for the accuracy or completeness of the information provided, or for any actions taken based on its output.</p>
    </section>

    <!-- Testimonials Section -->
    <section class="testimonials">
        <h2>Reviews</h2>
        <ul>
            <li>Review 1</li>
            <li>Review 2</li>
            <li>Review 3</li>
        </ul>
    </section>

    <section class="features">
        <h2>Take Control of Your Health</h2>
        <ul>
            <li>Quick and easy-to-use symptom checker</li>
            <li>Comprehensive database of potential causes</li>
            <li>Tailored recommendations based on your symptoms</li>
            <li>Trusted information from medical professionals</li>
            <li>Privacy-protected and secure</li>
        </ul>
    </section>

</main>

{% endblock %}

</body>
</html>