<!DOCTYPE html>
<html lang="">
<head>
    <title>Login Page</title>

</head>
<body>
{% extends 'base.html' %}
{% block title %}Login Page{% endblock %}

{% block content %}
<aside class="side-panel">
    <div class="logo-container">
        <img alt="Logo" class="logoSidePanel" src="">
        <h1>Title/Logo</h1>
        <p>Description of the site or service</p>
    </div>
</aside>
<div class="main-content">
    <section class="registration-form">
        <h2>Login</h2>
        <form action="/login_admin" method="post">
            <div>
                <label for="email">Email:</label>
                <input id="email" name="email" required type="email">
            </div>
            <div>
                <label for="password">Password:</label>
                <input id="password" name="password" required type="password">
            </div>
            {% if warning %}
            <p>{{ warning }}</p>
            {% endif %}
            <button class="form-navigation-button" type="submit">Login</button>


        </form>
    </section>
</div>

{% endblock %}

</body>

</html>