<style>
    h2 {
    text-align: center; /* Center the title */
    color: #009879; /* Green color to match the design theme */
margin-bottom: 50px; /* Spacing below the title */
}
.main {
    width: 50%; /* Main width */
    margin: 0 auto; /* Center the form */
    padding: 20px; /* Padding around the form */
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 4px; /* Rounded corners */
    background-color: #f9f9f9; /* Light grey background */
}
form {
    width: 50%; /* Form width */
    padding: 20px; /* Padding around the form */
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 4px; /* Rounded corners */
    background-color: #f9f9f9; /* Light grey background */
}
input[type="password"] {
    width: calc(100% - 20px); /* Full width minus padding */
    margin-bottom: 1rem; /* Spacing between input fields */
    padding: 10px;
    border: 1px solid #ccc; /* Subtle border */
    border-radius: 4px; /* Matching border radius for inputs */
    font-size: 1rem; /* Comfortable font size for text */
}

</style>
{% extends 'Admin/AdminBase.html' %}
{% block content %}
<div class="main">

    <h2>Change Password</h2>
    <form action="{{ url_for('admin_routes.change_password') }}" method="post" id="passwordForm">
        <label for="current_password">Current Password:</label><br>
        <input type="password" id="current_password" name="current_password" required><br>
        <label for="new_password">New Password:</label><br>
        <input type="password" id="new_password" name="new_password" required><br>
        <button type="submit" class="confirm">Change Password</button>
    </form>
</div>
<script src="{{ url_for('static', filename='common/js/passwordValidation.js') }}"></script>
{% endblock %}