{% extends 'Admin/AdminBase.html' %}
{% block content %}
<div class="main">
    <div class="tab">
        <button class="tablinks" onclick="openLogs(event, 'UserLogs')">User Logs</button>
        <button class="tablinks" onclick="openLogs(event, 'AdminLogs')">Admin Logs</button>
    </div>

    <div class="tabcontent" id="UserLogsTab">
        <h3>User Logs</h3>
        <div id="userLogs"></div>
    </div>

    <div class="tabcontent" id="AdminLogsTab">
        <h3>Admin Logs</h3>
        <div id="adminLogs"></div>
    </div>
</div>

{% endblock %}